@use "config" as config;

///
/// Every element that's not the actual
/// description visually becomes a tag
///

@mixin date-tags {
  .tasks-list-text {
    > *:not(.task-description) {
      // extra-margin on the first element
      &:nth-child(2) {
        margin-left: 8px;
      }

      text-wrap: nowrap; // guarantee the tag does not break
      padding: 3px 7px 3px 3px; // don't tell anyone about these pixel sizes

      font-size: var(--font-smallest);
      background-color: var(--background-primary);
      border: var(--tag-border-color) 1px solid;
      border-radius: config.$radius;
      margin-left: 3px;
      font-weight: var(--font-medium);
      font-variant-numeric: tabular-nums;

      &:hover {
        background-color: var(--background-secondary-hover);
      }
    }
  }
}
