///
/// Series of random minor visual changes,
/// purely optional / personal taste.
///

@mixin minor-adjustments {
  // Remove border on hover for tasks embeded blocks
  .cm-lang-tasks {
    --embed-block-shadow-hover: none;
  }

  .tasks-list-text {
    line-height: 130%;
  }

  .contains-task-list {
    margin: 1px;
  }
  // Align header with checkboxes
  .tasks-group-heading {
    padding-left: 10px;

    // Remove underline from titles
    .internal-link {
      text-decoration: none;
    }
  }
}
